body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: monospace;
	font-size: 14px;
}

#wrapper {
	height: 100%;	
	width: 100%;
	margin: auto;
	position: fixed;
	background-color: #D1C396;
	
}

#splash_title {
	margin: 0px;
	opacity: .10;
	color: #1C0F05;
	position: fixed;	
	left: 750px;
	bottom: 300px;
	-web-kit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	text-shadow: -1px -1px 0px #3D2A1B, 
	0px 1px 0px #190E05;
	font-size: 50px;
}

#footer ul{
	margin-left: 240px;
	opacity: .5;
	z-index: 2;
	min-width: 600px;

}

.splash_bar {
	height: 75px;		
	box-shadow: 0px -2px 1px #190E05;
}

#splash_light {
	margin-left: 220px;
	position: fixed;	
	width: 100%;
	right: 0;
	bottom: 0;
	background-color: #D1C396;
}

#splash_dark {
	width: 220px;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 2;
	background-color: #261507;	
	border-right: 12px solid #352110;
}

/* le control panel */
#control_panel {
	position: fixed;
	left: 0;
	top: 0;
	padding: 0;
	padding-top: 40px;
	width: 220px;
	height: 100%;
	color: ;
	background-color: #261507;
	border-right: 12px solid #352110;
	box-shadow: 0px 0px 0px #070401; 

}

#actor_form_submit, button {
	height: 40px;
	width: 210px;
	background-color: #1C6A6F;
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
	border-bottom-right-radius: 12px;
	border: none;
	border-bottom: 6px solid #258489;
	box-shadow: 2px 2px 1px #190E05;
	z-index: 3;
}

#actor_form {
	margin-top: 10px;
}

#actor_form fieldset {
	padding: 0px;
	border: none;
}

#actor_form legend h3 {
	margin: 0px;
	margin-bottom: 5px;
	padding: 0px;
	color: #D1C396;
	font-size: 24px;
	margin-left: 10px;
	text-shadow: 3px 3px 1px #190E05; 
}

#actor_form h2, label, input {
	margin-left: 10px;
}

#actor_form h2, label {
	color: #D1C396;
	text-shadow: 3px 3px 1px #190E05; 
}

#actor_form label {
	font-size: 20px;
}

#name, #panache {
	height: 25px;
	width: 190px;
	font-size: 20px;
	background-color: #DAEDE2;
	box-shadow: 3px 3px 1px #190E05; 
	border: none;
}

#actor_form_submit {
	margin-top: 15px;
	width: 190px;
	height: 30px;
	border-bottom-left-radius: 12px;
}

#next_phase {
	text-align: right;
}

#prev_phase {
	text-align: left;
}

#new_actor {
	text-align: center;
}


/* le actor div */
.actor h3 {
	margin-left: 25px;
}

.actor{
	padding-top: 3px;
	margin-right: 40px;
	margin-left: 240px; 
	margin-bottom: 10px;
	margin-top: 0px;
	min-width: 620px;
	max-width: 750px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom: 10px solid #E8FCF0;
	box-shadow: 2px 2px 1px #190E05;
	background-color: #DAEDE2;
}

.phase_list {
}

.phase_block {
	height: 35px;
	width: 40px;
	display: inline-block;
	outline: 1px solid #333;
	text-align: center;
	margin-right: 10px;
	background-color: #B3B597;
}

li.generated {
	margin-right: 18px;
}

/* le phase indicator bar */
#indicator_bar {
	height: 100%;
	width: 42px;
	position: fixed;
	background-color: #1F7A7F;
	opacity: .4;
	z-index: 3;
	display: block;
}
