html { 
	height: 100%;
}

body {
	background-color: #6E7E7D;	
	font-family: monospace; 
	font-size: 14px;
	padding: 0;
	margin: 0;
	height: 100%;
}

ul#links {
	list-style-image: none;
	list-style-type: none;
}

#links_panel {
	position: absolute;
	left: 65;
	bottom: 0;
	width: 20%;
}

#container {
	margin: 20px auto 0px auto;
	background-color: #7B9386;	
	width: 90%;
	height: 100%;
	box-shadow: 0 0 2px 2px #192318;
}

/* control panel */
#control_panel {
	width: 20%;
	height: 80%;
	float: left;
}

#button_bar {
	height: 210px;
	width: 100%;
}

#control_panel button {
	padding: 5px 5px 5px 5px;
	margin: 10px 0px 0px 0px;
	height: 34px;
	width: 204px;
	background-color: #9FC5E9;
	outline: none;
	border: none;
	font-size: 16px;
	font-weight: bold;
}

#next_phase {
	text-align: right;
}

#next_turn {
	text-align: right;
}

#prev_phase {
	text-align: left;
}

#prev_turn {
	text-align: left;
}

#new_actor_button {
	text-align: center;
}



/* new actor form */
#new_form_panel {
	padding: 10px 0px 10px 0px;
	margin: 10px 0px;
	width: 100%;
	display: none;
	background-color: #9FC5E9;
}

form#new_actor_form fieldset{
	font-size: 16px;
	font-weight: bold;
	border: none;	
}

form#new_actor_form label {
	float: left;
	width: 40%;
}

form#new_actor_form input:not([type=radio]) {
	width: 80%;
	height: 15px;
	background: #E8E6BD;
	border: none;
	outline: none;
	padding: 2px;
}

form#new_actor_form button {
	background: #555E89;
	color: #ffffff;
	height: 30px;
	width: 80px;
	margin: 5px 5px 5px 0px;
	border: none;
	outline: none;
}

/* turn elements*/
#turn_container {
	height: 90%;
	float: left;
	width: 80%;
}

#turn_header {
	text-align: left;
	padding-top: 10px;
	height: 10%;
}

#turn_panel {
	width: 100%;
	height: 100%;
	float: left;
}

.turn_instance {
	background: #D0DAB7;
	margin: 0px 0px 0px 10px;
	height: 75px;
	width: 80%;
	left: 0px;
	top: 0px;
}

div#selector_bar {
	position: absolute;
	display: block;
	opacity: .6;
	height: 90%;
	width: 44px;
	background-color: #BFD9F2;
}

.phase {
	margin: 1px 5px 0px 5px;
	background ;
	opacity: ;
	height: 30px;
	width: 40px;
	display: inline-block;
	text-align: center;
	border: 2px solid grey;
}

.in_phase {
	background: #5C5F96;
	color: #ffffff;
}

.depressed {
	background-color: #555E89;
	color: white;
}

.hovering {
	font-weight: bold;	
}

